.contact {
  margin-bottom: 8px;
  background-color: var(--warn-color);
  height: 80px;
  display: flex;
  padding: 8px;
  align-items: center;
  text-decoration: none;
  color: white;
}

.contactName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
}

