.room {
  margin-bottom: 20px;
  background-color: var(--warn);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.wrapper {
  background-color: var(--tertiary);
}
