services:
  load_balancer:
    image: nginx:1.29.4-alpine
    ports:
      - 8080:80
    volumes:
      - ./balancer/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      # api:
      #   condition: service_healthy
      frontend:
        condition: service_healthy

  redis:
    image: redis:8.4.0-alpine
    restart: always
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./cache:/data

  postgres:
    image: postgres:18.1-alpine3.23
    ports:
      - ${DB_PORT}:${DB_PORT}
    environment:
      - POSTGRES_DB=$DB_NAME
      - POSTGRES_USER=$DB_USER
      - PGDATA=/pgdata
      - POSTGRES_PASSWORD=$DB_PASSWORD
    volumes:
      - ./db/pgdata:/pgdata

  api:
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:4000/health"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
    environment:
      - PORT=${API_PORT}
      - CLIENT_ORIGIN
      - ACCESS_TOKEN_SECRET
      - REFRESH_TOKEN_SECRET
      - DB_PORT
      - DB_HOST
      - DB_NAME
      - DB_USER
      - DB_PASSWORD
      - REDIS_HOST
      - REDIS_PORT
      - REDIS_PASSWORD
      - WS_RATE_LIMIT_MAX_USER
      - WS_RATE_LIMIT_MAX_IP
      - WS_RATE_LIMIT_WINDOW
    build:
      context: ./backend
      # target: debug
    depends_on:
      - postgres
      - redis

  frontend:
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
    restart: always
    ports:
      - 3000:3000
    build:
      context: ./frontend
      # target: prod
    #   target: dev
    # volumes:
    #   - ./frontend:/client
    #   - /client/node_modules/
    depends_on:
      - api

