.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 30px;
  border-radius: var(--br);
  border: none;
  outline: none;
  border: 2px solid transparent;
  color: white;
  background-color: var(--tertiary);
  margin-right: 10px;
}

.input:focus {
  color: white;
  border-color: var(--accent);
}

.submitBtn {
  font-size: xx-large;
  border: none;
  display: block;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.submitBtn:disabled {
  opacity: 0.5;
}
