.form {
  margin-top: 20px;
  display: flex;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 0.5rem;
  line-height: 30px;
  margin-right: 10px;
  border-radius: var(--br);
  border: none;
  outline: none;
  border: 2px solid transparent;
  color: white;
  background-color: var(--tertiary);
}

.input:focus {
  color: white;
  border-color: var(--accent);
}

.submitBtn {
  font-size: xx-large;
  border-radius: 100%;
  border: none;
  display: block;
  padding: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.submitBtn:disabled {
  opacity: 0.5;
}
