.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.submitBtn {
  font-size: xx-large;
  border: none;
  display: block;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.submitBtn:disabled {
  opacity: 0.5;
}
