.editButton {
  font-size: xx-large;
  background: none;
  border: none;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin: 10px;
  background: none;
  border: none;
  color: white;
}
