.wrap {
  height: calc(var(--vh) * 100 - var(--bar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.signUpLink {
  margin-top: 1rem;
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
}
