.message {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  color: rgb(255, 255, 255);
}

.message:first-child {
  margin-top: auto;
}

.messageBubble {
  background-color: var(--primary);
  padding: 10px;
  border-radius: var(--br);
  min-width: 100px;
  word-wrap: break-word;
}

.userName {
  font-size: small;
  font-weight: bold;
  margin-bottom: 10px;
}

.time {
  font-size: small;
  margin-top: 5px;
  text-align: right;
  opacity: 0.5;
}

.avatarColumn {
  --avatar-size: 36px;
  width: var(--avatar-size);
  margin-right: 10px;
  flex-shrink: 0;
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.systemMessage {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: small;
  border-radius: var(--br);
  margin: auto;
  padding: 10px;
}

.outboundMessage {
  background-color: var(--secondary);
}
