.room {
  margin-bottom: 20px;
  background-color: var(--primary);
  border-radius: var(--br);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: var(--secondary);
}
