body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --br: 20px;
  --warn-color: #7ea3a5;
  --accent-color: #e63946;
  --primary-color: #f1faee;
  --secondary-color: #457b9d;
  --tertiary-color: #1d3557;
  --vh: 1px;
  --bar-height: calc(9 * var(--vh));
  --max-width: 520px;
  --avatar-size: 36px;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  --inner-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.m-top-1 {
  margin-top: 1rem;
}

* {
  box-sizing: border-box;
}

.rounded {
  border-radius: var(--br);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 10px;
}

.header-for-scrollable {
  max-width: var(--max-width);
  height: var(--bar-height);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color);
}

.controls-for-scrollable {
  max-width: var(--max-width);
  height: var(--bar-height);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  justify-content: center;
  min-height: calc(var(--vh) * 100);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.scrollable-content {
  padding: 10px;
  border-radius: 20px;
  margin: var(--bar-height) 10px;
  height: calc(var(--vh) * 100 - var(--bar-height) * 2);
  overflow-y: auto;
}

.btn {
  border-radius: var(--br);
  background-color: var(--accent-color);
  padding: 0.7rem;
  color: white;
  text-align: center;
  font-weight: 700;
  border: none;
  width: 100%;
  display: block;
  box-shadow: var(--shadow);
}

.btn:disabled {
  background-color: grey;
  box-shadow: none;
}

.btn:active {
  background-color: var(--secondary-color);
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  line-height: 30px;
  border-radius: var(--br);
  border: none;
  outline: none;
  border: 2px solid transparent;
  color: white;
  background-color: var(--tertiary-color);
  margin-right: 10px;
  box-shadow: var(--inner-shadow);
}

.input:focus {
  color: white;
  border-color: var(--accent-color);
}

.m-b {
  margin-bottom: 10px;
}

.shadow {
  box-shadow: var(--shadow);
}

.inner-shadow {
  box-shadow: var(--inner-shadow);
}
