.wrap {
  background: red;
  color: white;
  position: fixed;
  z-index: 10;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 16px;
  width: 90vw;
  max-width: var(--max-width);
}

.wrap button {
  font-size: x-large;
  background: none;
  border: none;
  color: white;
  position: absolute;
  top: 0;
  right: 5px;
}
