.slideIn {
  border-radius: var(--br) var(--br) 0 0;
  background-color: var(--secondary);
  padding: 1rem;
  max-width: var(--max-width);
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: slidein 200ms ease-in-out forwards;
}

@keyframes slidein {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 0;
  }
}

.closeBtn {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 1rem;
}

.overlay {
  height: 100vh;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  animation: dim 200ms ease-in-out forwards;
}

@keyframes dim {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
