.log {
  background: white;
  margin: 0;
  padding: 0.5em;
  overflow: auto;
  min-height: 50vh;
  border-radius: 20px;
  font-size: medium;
}

.form {
  max-width: auto;
  margin: 0;
  margin-top: 20px;
  display: flex;
}

.input {
  width: 100%;
  margin-right: 10px;
  border-radius: 20px;
  border: none;
}

.submitBtn {
  border-radius: 20px;
  border: none;
}

.wrap {
  margin: auto;
  padding: 10px;
  max-width: 400px;
  background: grey;
  border-radius: 20px;
}

.systemMessage {
  color: grey;
}
