body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --br: 20px;
  --warn: #eaac8b;
  --accent: #e56b6f;
  --primary: #b56576;
  --secondary: #6d597a;
  --tertiary: #355070;
}

* {
  box-sizing: border-box;
}

.header-for-scrollable {
  max-width: 756px;
  height: 7vh;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
}

.controls-for-scrollable {
  max-width: 756px;
  height: 7vh;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.wrap {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.btn {
  border-radius: var(--br);
  background-color: var(--warn);
  padding: 0.7rem;
  color: white;
  text-align: center;
  font-weight: 700;
  border: none;
  width: 100%;
  display: block;
}
